{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create a Response</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{% static 'docs/examples/signin/signin.css' %}" rel="stylesheet">
    <link href="{% static 'docs/examples/carousel/carousel.css' %}" rel="stylesheet">  
    <!-- Theme CSS -->
    <link href="{% static 'css/postlist.css' %}" rel="stylesheet">
</head>
    
<body id="page-top" class="index">  
    
    <!-- Navigation -->
    <div class="navbar-wrapper">
            <div class="container">
  
              <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <a class="navbar-header" href="/{{currentUser.email}}/employeehome"><img src="https://i.imgur.com/PvSdW8h.png" alt="logo" width="80" height="50" style="float:left;"/></a>   
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
  
                    <ul class="nav navbar-nav" style="float:right;">
                        <li><a href="/{{currentUser.email}}/employeehome">Home</a></li>
                        <li class="active"><a href="/{{currentUser.email}}/postlist">Posts</a></li>
                        <li><a href="{% url 'account:logout' %}">Log Out</a></li>
                    </ul>
                      
                  </div>
                </div>
              </nav>
  
            </div>
    </div>

    {% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
    {% endif %} 

    <form role="form" method="post">
        {% csrf_token %}
            <section id="writereview">
                <div class="container">
                    <div class="row">
                        <h3>Create a Reply</h3>
                        <p>Reply to the post!</p>
                            <div style="text-align: center;">
                                {{ form.comment.errors }}
                                <br>{{ form.comment }}
                            </div>
                            <div class="form-group">
                                <h4>How do you want your name to be displayed:</h4>
                                {{ form.anonymity.errors }}
                                {% for radio in form.anonymity %}
                                <label class="switch">
                                    {{radio}}
                                    &nbsp; <!-- for spacing -->
                                </label>
                                {% endfor %}
                            </div>
                            <div class="clearfix">
                                <div id="success">
                                    <div class="row" style="text-align: center;">
                                        <dt id="target" style="display: inline;"><button class="btn btn-primary btn-lg" type="submit">Reply</button></dt>
                                        <dt style="display: inline;">
                                        <a role="button" class="btn btn-lg" style="background-color:lightgray" href="post">Cancel</a>
                                        </dt>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
            </section>   
        </form>    

</body>
</html>