{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Employee Home</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{% static 'docs/examples/signin/signin.css' %}" rel="stylesheet">
    <link href="{% static 'docs/examples/carousel/carousel.css' %}" rel="stylesheet">  
    <!-- Theme CSS -->
    <link href="{% static 'css/postlist.css' %}" rel="stylesheet">
</head>
    
<body id="page-top" class="index">  
    
    <!-- Navigation -->
    <div class="navbar-wrapper">
            <div class="container">
  
              <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <a class="navbar-header" href="employeehome"><img src="https://i.imgur.com/PvSdW8h.png" alt="logo" width="80" height="50" style="float:left;"/></a>   
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
  
                    <ul class="nav navbar-nav" style="float:right;">
                        <li><a href="employeehome">Home</a></li>
                        <li class="active"><a href="postlist">Posts</a></li>
                        <li><a href="{% url 'account:logout' %}">Log Out</a></li>
                    </ul>
                      
                  </div>
                </div>
              </nav>
  
            </div>
    </div>

    <form role="form" action="" method="post">
        {% csrf_token %}
            <section id="writereview">
                <div class="container">
                    <div class="row">
                        <h3> Create a Post </h3>
                        <p>Create a post for your sub</p>

                            <div class="form-group" style="text-align: center;">
                                {{ form.comment.errors }}
                                <br>{{ form.subject }}
                            </div>
                            <div class="form-group" style="text-align: center;">
                                {{ form.comment.errors }}
                                <br>{{ form.post }}
                            </div>
                            <div class="form-group">
                                {{ form.password.errors }}
                                {% for radio in form.userType %}
                                <label class="switch">
                                    {{radio}}
                                    &nbsp; <!-- for spacing -->
                                </label>
                                {% endfor %}
                            </div>
                            <div class="clearfix">
                                <div id="success">
                                    <button onclick="" type="submit" class="btn btn-xl" style="display: block; margin: 0 auto;">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>   
            </section>   
        </form> 

</body>
</html>